* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #09090b;
    color: #e4e4e7;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
    color: #fafafa;
    font-weight: bold;
    text-align: center;
}

strong {
    color: #ffffff;
}

span {
    color: #22c55e;
}

p {
    color: #71717a;
    margin: 10px;
    text-align: center;
}

textarea {
    resize: none;
    width: 100%;
    max-width: 640px;
    padding: 16px;
    border: 1px solid #27272a;
    border-radius: 10px;
    background: #141419;
    color: #fafafa;
    outline: none;
    margin-top: 20px;
}

.botao-gerar {
    width: 100%;
    max-width: 450px;
    background: #22c55e;
    color: #09090b;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.botao-gerar:hover {
    background: #16a34a;
}

.resultados {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.coluna {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.coluna h2 {
    margin-bottom: 10px;
}

.container-codigo {
    position: relative;
}

.bloco-codigo {
    background: #141419;
    border: 1px solid #27272a;
    border-radius: 12px;
    padding: 50px 20px 20px 20px;
    color: #34d399;
    line-height: 1.5;
    overflow: auto;
    width: 100%;
    height: 350px;
    white-space: pre-wrap;
}

.resultado-codigo {
    background: #141419;
    border: 1px solid #27272a;
    border-radius: 12px;
    width: 100%;
    height: 350px;
}

.botao-copiar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #18181b;
    border: 1px solid #27272a;
    color: #e4e4e7;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
    z-index: 10;
}

.botao-copiar:hover {
    background: #27272a;
}

.loading {
    color: #facc15;
    animation: piscar 1s infinite;
}

@keyframes piscar {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    body {
        padding: 20px;
    }

    h1 {
        font-size: 30px;
    }

    .coluna {
        width: 100%;
    }
}
